@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}



:root {
  --clr-app-background: rgb(76, 111, 141);
  --clr-buttons: rgb(173, 211, 223);
  

  --fs-1: 2.2rem;
  --fs-2: 2rem;
  --fs-3: 1.8rem;
  --fs-4: 1.6rem;
  --fs-5: 1.4rem;
  --fs-6: 1.2rem;
  --fs-7: 1.1rem;
  --fs-8: 1rem;
}

@media (min-width: 600px) {
  :root {
    --fs-1: 2.3rem;
    --fs-2: 2.1rem;
    --fs-3: 1.9rem;
    --fs-4: 1.7rem;
    --fs-5: 1.5rem;
    --fs-6: 1.3rem;
    --fs-7: 1.2rem;
    --fs-8: 1.1rem;
  }
}